* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 40px;
}

.dGrid {
    display: grid;
}

.padding20 {
    padding: 20px;
}

.paddingY20 {
    padding: 20px 0;
}

.wFull {
    width: 100%;
}

/* header */
.logo {
    width: 20%;
}

header {
    grid-template-rows: auto auto auto;
    align-items: center;
}

header nav a::after {
    content: '/';
    margin: 0 5px;
}

header .headerTitle {
    grid-template-columns: 1fr auto;
    align-items: center;
}

nav {
    background-color: aqua;
    border-radius: 40px;
}

/* Main */
main .mainImages {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.cardInfo {
    grid-template-columns: auto 1fr;
}

.cardInfoInputs {
    padding: 60px 0;
    position: sticky;
    top: 170px;
}

.cardInfoContent {
    padding: 40px;
}

.cardInfoContentImage {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* footer */
footer {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    background-color: aqua;
    border-radius: 40px;
}